#logo_wrapper
{
	padding: 30px 0 30px 0;
}

#nav_wrapper
{
	border: 0;
	box-sizing: border-box;
}

.nav_wrapper_inner
{
	width: 960px;
	margin: auto;
}

.logo_container
{
	display: block;
	float: left;
	width: auto;
	height: auto;
	margin-top: 10px;
}

.ppb_ads.pp_ads_global_before_menu
{
	margin: 0;
	float: right;
}

.ppb_ads.pp_ads_global_before_menu .ads_label
{
	display: none;
}

.header_style_wrapper
{
	box-shadow: 0 0 0 0;
}

#menu_border_wrapper
{
	float: left;
	display: block;
}

#logo_right_button
{
	float: right;
	display: block;
}

#logo_right_button a
{
    padding: 18px 5px 15px 5px;
}

.top_bar.scroll
{
	box-shadow: 0 0 0 0;
	border: 0;
}

#page_caption
{
	border: 0;
}