/**
*
* Widescreen Devices
*
**/
@media only screen and (min-width: 1100px) {
	#page_content_wrapper, .page_content_wrapper, .standard_wrapper, .footer_bar_wrapper, #footer ul.sidebar_widget, .slider_wrapper.fixed_width, .ppb_blog_half_content_slider .slider_wrapper, #page_caption .page_title_wrapper, .page_title_wrapper, .slider_wrapper.standard_wrapper
	{
		max-width: 1425px;
		width: 100%;
		box-sizing: border-box;
		margin: auto;
		padding: 0 60px;
	}
	
	#page_content_wrapper, .page_content_wrapper
	{
		padding-bottom: 40px;
	}
	
	.ppb_blog_half_content_slider .slider_wrapper
	{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	#page_content_wrapper.wide, .page_content_wrapper.wide
	{
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
	
	.footer_bar_wrapper
	{
		padding-top: 20px;
	}
	
	#page_content_wrapper.fullwidth, .page_content_wrapper.fullwidth
	{
		width: 100%;
		padding: 0;
		max-width: 100%;
	}
	
	.mobile_menu_wrapper .page_content_wrapper
	{
		padding: 0 !important;
	}
}


/* 
#Tablet (Landscape)
================================================== 
*/

@media only screen and (min-width: 960px) and (max-width: 1099px) 
{	
	
	blockquote
	{
		font-size : 18px;
	}
	
	.above_top_bar
	{
		padding: 0 30px 0 30px;
		box-sizing: border-box;
	}
	
	.post_header:not(.single) h5, body.single-post .post_header_title h1
	{
		font-size: 30px;
	}
	
	.ppb_blog_half_content_slider .slides li .slide_post .post_header h2
	{
		font-size: 26px;
	}
	
	.ppb_blog5_grid_classic .one_half .post_header h2
	{
		font-size: 26px;
	}
	
	.ppb_blog_fullwidth_slider ul.slides li .slider_image .slider_post_title h2
	{
		font-size: 26px;
	}
	
	.teaser_wrapper .teaser_content_wrapper h5, .teaser_wrapper .teaser_content_wrapper h5 a
	{
		font-size: 24px;
	}
	
	.post_header.search h5
	{
		font-size: 20px;
	}
	
	#page_caption h1
	{
		font-size: 34px !important;
	}
	
	.social_share_counter_number
	{
		font-size: 42px;
		line-height: 30px;
	}
	
	.post_header.grid h6
	{
		font-size: 18px;
	}
	
	.post_related strong
	{
		font-size: 14px;
	}
	
	.two_cols.mixed .post_header h5
	{
		font-size: 18px;
	}
	
	.two_cols.mixed .hentry.first-child .post_header h5
	{
		font-size: 32px;
	}
	
	.read_next_wrapper .post_content .next_post_title h3
	{
		font-size: 18px;
	}
	
	.post_header h6, .two_cols .post_header h5
	{
		font-size: 22px;
	}
	
	.post_header h6, .three_cols .post_header h5
	{
		font-size: 20px;
	}
	
	#social_share_button_wrapper ul li a.email_share
	{
		display: none;
	}
	
	.blog_f #social_share_button_wrapper ul li a.email_share
	{
		display: block;
	}
	
	#page_content_wrapper .inner .sidebar_wrapper, .page_content_wrapper .inner .sidebar_wrapper
	{
		width: 30.9%;
	}
	
	#page_content_wrapper .inner .sidebar_content.full_width.blog_f, body.single-post #page_content_wrapper .inner .sidebar_content.full_width
	{
		width: 100% !important;
	}
	
	.post_gallery_wrapper .one_fifth .more_gallery_count
	{
		line-height: 106px;
	}
	
	.social_wrapper.large ul li a i
	{
		font-size: 20px;
	}
	
	#overlay_background_search .search_wrapper .search_content #searchform, #autocomplete
	{
		width: 60%;
	}
	
	.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3
	{
		font-size: 16px !important;
	}
	
	h1.product_title
	{
		font-size: 28px;
	}
	
	.ppb_blog_half_content_slider .flex-direction-nav .flex-prev
	{
		left: 30px;
	}
	
	.ppb_blog_half_content_slider .flex-direction-nav .flex-next
	{
		left: 73px;
	}
	
	.ppb_blog_fullwidth_slider ul.slides li .slider_image .slider_post_title
	{
		left: 30px;
	}
	
	.ppb_blog_fullwidth_slider .fullscreen_flexslider ul.slides li .slider_image .slider_post_title h2
	{
		font-size: 32px;
		line-height: 1.2;
	}
	
	.ppb_header_video .background_title_wrapper
	{
		left: 30px;
	}
}


/* 
#Tablet (Portrait)
================================================== 
*/

@media only screen and (min-width: 768px) and (max-width: 960px) {
	body { font-size: 13px; }
	.mobile_menu_wrapper { display: block; }
	#wrapper { padding-top: 217px; }
	.top_bar { width: 100%; padding: 0; }
	#logo_wrapper { padding: 30px 0 20px 0; }
	.logo_wrapper img { width: auto; max-height: 70px; max-width: 100%; }
	.footer_before_widget .footer_logo.logo_wrapper img { max-height: none; margin-top: 0; margin: auto; }
	#logo_wrapper { border: 0; }
	.top_bar { border: 0; }
	#post_featured_slider, #post_featured_slider, #page_caption.hasbg, #horizontal_gallery.tg_post { margin-top: 0; }
	
	.above_top_bar
	{
		padding: 0 30px 0 30px;
		box-sizing: border-box;
		height: auto;
		float: left;
		width: 100%;
	}
	
	.above_top_bar .page_content_wrapper
	{
		padding: 0;
	}
	
	.above_top_bar .today_time
	{
		display: none;
	}
	
	.ppb_blog_random .one_fifth_bg
	{
		min-height: 210px;
	}

	.standard_wrapper, .slider_wrapper.standard_wrapper { width: 100%; padding: 0 30px 0 30px; box-sizing: border-box; }
	.page_content_wrapper .inner { width: 100%; padding: 0; box-sizing: border-box; }
	h1 { font-size: 30px; }
	h2 { font-size: 22px; }
	h3 { font-size: 20px; }
	h4 { font-size: 18px; }
	h5 { font-size: 16px; }
	h6 { font-size: 14px; }
	h7 { font-size: 12px; }
	.service_title h6 { font-size: 20px; }
	#page_caption h1 { font-size: 26px; }
	
	#page_content_wrapper .inner .sidebar_content.full_width, .gallery_mansory_wrapper { width: 100%; }
	#page_content_wrapper .inner .sidebar_content.full_width img, .page_content_wrapper img { max-width: 100%; height: auto; }
	#page_content_wrapper .inner .sidebar_content.full_width#blog_grid_wrapper, #page_content_wrapper .inner .sidebar_content.full_width#galleries_grid_wrapper { width: 00%; }
	#menu_wrapper { width: 100%; float: left; }
	#menu_wrapper #nav_wrapper { box-sizing: border-box; padding: 15px; }
	#menu_border_wrapper, #logo_right_button { width: 100%; display: block; }
	#page_content_wrapper, .page_content_wrapper, #page_caption .page_title_wrapper { width: 100%; }
	.footer_bar { width: 100%; padding-bottom: 0; }
	.page_control_static { display: none !important; }
	#menu_border_wrapper { height: auto; display: none; }
	.gallery_social { opacity: 0; }
	
	#page_content_wrapper .inner .sidebar_content, .page_content_wrapper .inner .sidebar_content, #page_content_wrapper .inner .sidebar_content.portfolio { width: 62%; border: 0; }
	
	.one_half.gallery2 .mask { width: 100%; height: 231px; }
	.one_half.gallery2:hover .mask .mask_circle { margin-top: 28%; }
	.one_half.gallery2 h4 { font-size: 22px; }
	.portfolio2filter_wrapper { margin-right: 30px; }
	.element.classic2_cols { width: 47%; }
	.one_half.gallery2 .mask .mask_circle i { font-size: 28px; line-height: 32px; }
	.one_half.gallery2:hover .mask .mask_circle { width: 28px; height: 28px; margin-top: 24%; }
	
	#page_content_wrapper .inner .sidebar_content.full_width.portfolio3_content_wrapper { width: 780px; }

	.one_third.gallery3:hover .mask .mask_circle { margin-top: 22%; width: 24px; height: 24px; }
	.one_third.gallery3 .mask { width: 100%; height: 100%; }
	.one_third.portfolio3 { height: 390px; }
	.one_third.gallery3 div.thumb_content h3 { font-size: 18px; }
	.element.classic3_cols { width: 31%; }
	
	.one_fourth, .one_fourth.last { width: 100%; margin-right: 0; margin-bottom: 2%; clear: both; }
	.one_fourth.gallery4 { margin: 0; }
	.one_fourth.gallery4 .button.circle img { width: 24px !important; height: 24px !important; }
	.one_fourth.gallery4 .mask { width: 100%; height: 100%; }
	.one_fourth.gallery4:hover .mask .mask_circle { margin-top: 27%; }
	.portfolio_desc.portfolio4 h7 { font-size: 16px; }
	.one_fourth.gallery4 div.thumb_content h3 { font-size: 18px; }
	.portfolio4filter_wrapper { margin-right: 0; }
	.element.classic4_cols { width: 22.5%; }
	
	.one_third_bg, .one_fourth_bg { width: 100%; }
	
	.one_fifth, .one_fifth.last { width: 100%; margin-right: 0; margin-bottom: 2%; clear: both; }

	#page_content_wrapper .inner .sidebar_content.full_width.portfolio4_content_wrapper { width: 760px; }

	#page_content_wrapper .inner .sidebar_wrapper { width: 220px; margin: 0; }
	#page_content_wrapper .inner .sidebar_wrapper .sidebar .content { margin: 0; }
	#page_content_wrapper .inner .sidebar_wrapper .sidebar { width: 100%; }
	.social_wrapper ul li img { width: 22px; }

	#page_content_wrapper .inner { width: 100%; } 

	#footer { width: 100%; padding: 40px 30px 40px 30px; box-sizing: border-box; }
	#footer ul.sidebar_widget { width: 100%; margin: auto; }
	#page_content_wrapper { width: 100%; margin-top: 0; padding: 0 30px 0 30px; box-sizing: border-box; }
	#page_content_wrapper.wide { padding: 0; }
	#page_content_wrapper .sidebar .content .posts.blog { float: left; margin-bottom: 20px; width: 100%; }
	.comment { width: 100%; }
	.comment .right { width: 82%; }
	ul.children div.comment .right { width: 78%; }
	#content_wrapper ul.children ul.children { width: 77%; }
	#menu_wrapper .nav ul, #menu_wrapper div .nav { display: none; }

	.social_wrapper { float: none; margin: auto; text-align: center; width: auto; }
	.footer_bar_wrapper .social_wrapper { margin-right: 10px; }
	.social_wrapper ul { margin-top: 2px; }
	.above_top_bar .social_wrapper ul { margin-top: 0; }
	.footer_bar_wrapper { width: 100%; }
	
	#page_content_wrapper .inner .sidebar_content.full_width .post_wrapper.grid_layout .post_img img { width: 100% !important; height: auto !important; }
	
	#page_content_wrapper .inner .sidebar_content { margin-right: 0; margin-top: 0; padding-right: 10px; padding-top: 0; }
	#page_content_wrapper .inner .sidebar_content.left_sidebar { margin-right: 0; padding-top: 0; padding-left: 30px; }
	#page_content_wrapper .inner .sidebar_wrapper, #page_content_wrapper .inner .sidebar_wrapper.left_sidebar { width: 31%; margin-right: 0; }
	#page_content_wrapper .inner .sidebar_wrapper, .page_content_wrapper .inner .sidebar_wrapper { margin-left: 25px; }
	.page_content_wrapper .inner .sidebar_wrapper { width: 34%; margin-top: 20px; }
	#page_content_wrapper .inner .sidebar_wrapper.left_sidebar { margin-right: 0; }
	#page_content_wrapper .inner .sidebar_content.full_width .post_wrapper .post_img img, #page_content_wrapper .inner .sidebar_content .post_wrapper .post_img img { max-width: 100%; height: auto; }

	.post_content_wrapper { width: 100%; }
	#page_content_wrapper .inner .sidebar_content.full_width .post_wrapper.full .post_img img { max-width: 726px; height: auto; }
	.comment .right { width: 54%; }
	ul.children div.comment .right { width: 62%; }
	
	#footer .sidebar_widget.four > li { width: 46%; margin-right: 3%; margin-bottom: 3%; }
	#footer .sidebar_widget.four > li:nth-child(2), #footer .sidebar_widget.four > li:nth-child(4) { width: 46%; margin-right: 0; float: right; }
	#footer .sidebar_widget.four > li:nth-child(3) { clear: both; }
	.portfolio_desc.team h5 { font-size: 20px; }
	.portfolio_desc h6, .portfolio_desc h5 { font-size: 18px; }
	#page_caption.hasbg h1, h1.hasbg { font-size: 26px; }

	.slider_wrapper .flexslider img { max-width: 100% !important; height: auto; }
	
	#copyright { float: none; width: 100%; margin-bottom: 0; line-height: 23px; }
	input[type=submit].medium, input[type=button].medium, a.button.medium { padding: .3em 1.2em .3em 1.2em; }
	.contact_form_wrapper input[type=text], .contact_form_wrapper input[type=email], .contact_form_wrapper input[type=date] { margin-bottom: 4%; }
	
	#page_content_wrapper .inner .sidebar_content, .page_content_wrapper .inner .sidebar_content { margin-right: 0; }
	#page_content_wrapper .inner .sidebar_content.left_sidebar { border: 0; padding-left: 10px; }
	
	#page_content_wrapper .posts.blog li, .page_content_wrapper .posts.blog li { width: 100%; float: none; margin-right: 0; }
	
	#searchform input[type=text] { width: 70%; }
	
	.animate, .animated, .gallery_type, .portfolio_type, .fadeIn, .bigEntrance, .post_img.fadeIn, .post_img.grid.fadeIn { -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important; opacity: 1; visibility: visible; }
	#page_caption h1, .ppb_title, h2.ppb_title
	{
		font-size: 30px;
	}
		
	.post_header h5, body.single-post .post_header h1 { font-size: 22px; }
	#page_content_wrapper .sidebar .content .sidebar_widget li ul.twitter li:before, .page_content_wrapper .sidebar .content .sidebar_widget li ul.twitter li:before
	{
		display: none;
	}
	
	#page_content_wrapper .sidebar .content .sidebar_widget li ul.twitter li .tweet, .page_content_wrapper .sidebar .content .sidebar_widget li ul.twitter li .tweet
	{
		width: 100%;
	}
	
	#page_content_wrapper .sidebar .content .posts.blog li, .page_content_wrapper .sidebar .content .posts.blog li
	{
		margin-bottom: 10px;
	}
	
	#page_content_wrapper .sidebar .content .posts.blog li:last-child, .page_content_wrapper .sidebar .content .posts.blog li:last-child
	{
		margin-bottom: 0;
	}
	
	.post_header:not(.single) h5, body.single-post .post_header_title h1
	{
		font-size: 26px
	}
	
	.post_header h6, .two_cols .post_header h5, .post_header.search h5
	{
		font-size: 18px;
	}
	
	hr.title_break
	{
		margin-top: 5px;
	}
	
	.two_cols.mixed .post_header h5, .three_cols .post_header h5
	{
		font-size: 16px;
	}
	
	.two_cols.mixed .hentry:first-child .post_header h5
	{
		font-size: 26px;
	}
	
	.footer_bar_wrapper
	{
		margin-top: 0;
		padding: 20px;
		box-sizing: border-box;
	}
	
	.fullwidth_comment_wrapper .comment .right
	{
		width: 84%;
	}
	
	.flex-direction-nav a
	{
		bottom: 66%;
	}
	
	#toTop
	{
		bottom: 58px;
	}
	
	#mobile_nav_icon
	{
		display: block !important;
		float: left;
		margin-left: 0;
	}
	
	#search_icon, #page_share
	{
		float: right;
	}
	
	#logo_right_button #search_icon i
	{
		font-size: 18px;
	}
	
	.slider_wrapper.fixed_width
	{
		width: 100%;
		margin: 0 !important;
	}
	
	#post_featured_slider li .slide_post .slide_post_excerpt
	{	
		font-size: 16px;
	}
	
	#post_featured_slider li .slide_post h2
	{
		font-size: 34px;
	}
	
	#post_featured_slider li .slider_image.three_cols
	{
		height: 350px;
	}
	
	blockquote
	{
		font-size: 20px;
	}
	
	#horizontal_gallery_wrapper img.horizontal_gallery_img, .horizontal_gallery_wrapper img.horizontal_gallery_img
	{
		max-height: 400px;
	}
	
	.post_related strong
	{
		font-size: 15px;
		line-height: 1.3;
	}
	
	#page_caption.hasbg, #post_featured_slider li .slider_image
	{
		height: 400px;
	}
	
	#overlay_background_search .search_wrapper .search_content #searchform input[type=text]#s
	{
		font-size: 50px;
	}
	
	#overlay_background_search .search_wrapper .search_content #searchform .search_tagline
	{
		font-size: 13px;
	}
	
	#overlay_background_search .search_wrapper .search_content #searchform, #autocomplete
	{
		width: 80%;
	}
	
	.ppb_blog_half_content_slider .slider_wrapper
	{
		width: 100%;
	}
	
	.ppb_blog_half_content_slider .slides li .slide_post .post_header h2
	{
		font-size: 22px;
	}
	
	.ppb_blog_half_content_slider .slides li .slider_image, .ppb_blog_half_content_slider .slides li .slide_post
	{
		min-height: 350px;
	}
	
	.ppb_blog_half_content_slider .slides li .slide_post .post_info_excerpt
	{
		display: none;
	}
	
	.ppb_blog_half_content_slider .flex-direction-nav .flex-prev
	{
		left: 30px;
	}
	
	.ppb_blog_half_content_slider .flex-direction-nav .flex-next
	{
		left: 73px;
	}
	
	.ppb_blog_half_content_slider
	{
		padding: 0 30px 0 30px;
		box-sizing: border-box;
	}
	
	.ppb_blog5_grid_classic .one_half .post_header h2
	{
		font-size: 22px;
	}
	
	.ppb_blog_fullwidth_slider ul.slides li .slider_image .slider_post_title h2
	{
		font-size: 22px;
	}
	
	.newsticker li a
	{
		font-size: 14px;
	}
	
	.newsticker_nav
	{
		display: none;
	}
	
	.ppb_blog5_grid_classic .one_half.last .post_header h2
	{
		font-size: 16px;
		line-height: 1.5;
	}
	
	ul.post_filter li
	{
		margin-left: 15px;
	}
	
	.teaser_wrapper .teaser_content_wrapper h5, .teaser_wrapper .teaser_content_wrapper h5 a
	{
		font-size: 20px;
	}
	
	#page_content_wrapper, .page_content_wrapper
	{
		padding: 0 30px 0 30px;
		box-sizing: border-box;
	}
	
	.ppb_header .page_content_wrapper
	{
		padding-bottom: 30px;
	}
	
	.teaser_wrapper
	{
		max-height: 300px;
	}
	
	.social_wrapper.large ul li
	{
		height: auto;
	}
	
	body #page_caption h1, body .post_caption h1
	{
		font-size: 32px;
	}
	
	#page_content_wrapper .sidebar .content .sidebar_widget > li.widget_mc4wp_form_widget, .page_content_wrapper .sidebar .content .sidebar_widget > li.widget_mc4wp_form_widget
	{
		padding: 20px;
	}
	
	.social_share_counter_number
	{
		font-size: 30px;
		line-height: 24px;
	}
	
	.social_share_counter
	{
		width: 15%;
	}
	
	.social_share_button_wrapper
	{
		width: 81%;
		float: right;
		margin-bottom: 10px;
	}
	
	.social_share_button_wrapper ul li
	{
		margin-bottom: 10px;
	}
	
	.social_share_counter_label
	{
		font-size: 12px;
	}
	
	#social_share_button_wrapper ul li a.email_share
	{
		display: none;
	}
	
	.blog_f #social_share_button_wrapper ul li a.email_share
	{
		display: block;
	}
	
	#social_share_button_wrapper ul li a
	{
		padding: 0 10px 0 10px;
	}
	
	#post_info_bar #post_info_share, #post_info_bar #post_info_comment
	{
		display: none;
	}
	
	.post_header.grid h6
	{
		font-size: 16px;
	}
	
	.read_next_wrapper .post_content .next_post_title h3
	{
		font-size: 16px;
	}
	
	.read_next_wrapper .post_content .read_next_label
	{
		font-size: 14px;
	}
	
	input[type=submit], input[type=button], a.button, .button, #commentform input[type=submit], .widget_mc4wp_form_widget input[type=submit]
	{
		font-size: 13px;
	}
	
	.subscribe_tagline
	{
		font-size: 14px;
	}
	
	#page_content_wrapper .inner .sidebar_content.full_width.blog_f, body.single-post #page_content_wrapper .inner .sidebar_content.full_width
	{
		width: 100% !important;
	}
	
	#page_caption.hasbg .page_title_wrapper
	{
		bottom: 20px;
	}
	
	.post_gallery_wrapper .one_fifth
	{
		width: 18.4%;
	    float: left;
	    margin-right: 2%;
	    margin-bottom: 2%;
	    clear: none;
	}
	
	.post_gallery_wrapper .one_fifth.last
	{
		margin-right: 0;
	}
	
	.post_gallery_wrapper .one_fifth .more_gallery_count
	{
		line-height: 80px;
		font-size: 30px;
	}
	
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product
	{
		margin-right: 8%;
		width: 46%;
	}
	
	.woocommerce ul.products li.product:nth-child(2n), .woocommerce-page ul.products li.product:nth-child(2n), .woocommerce-page[class*=columns-] ul.products li.product:nth-child(2n), .woocommerce[class*=columns-] ul.products li.product:nth-child(2n)
	{
		margin-right: 0;
	}
	
	.header_cart_wrapper
	{
		display: block;
		float: right;
	}
	
	.woocommerce .full_width  ul.products li.product, .woocommerce-page .full_width  ul.products li.product
	{
		width: 48%;
		margin-right: 4%;
	}
	
	.woocommerce .full_width  ul.products li.product, .woocommerce-page .full_width  ul.products li.product
	{
		margin-right: 0;
	}
	
	#post_info_bar .post_info
	{
		width: calc(100% - 72px);
	}
	  
	#post_info_bar .post_info .post_info_title
	{
		margin-top: 0;
		line-height: 1.5;
		margin-bottom: 5px;
	}
	
	#post_info_bar
    { 
	    top: -100px;
    }
    
    .ppb_blog_random .post_filter_wrapper
	{
		height: 210px;
		overflow: hidden;
	}
	
	.ppb_blog_random .one_fifth_bg
	{
		width: 25%;
	}
	
	.ppb_blog_random .one_fifth_bg .content_link h5
	{
		font-size: 16px;
	}
    
    .ppb_blog_grid_with_posts .one_third.last .post_img.one_third, .ppb_blog_grid_with_posts .one_third.last .two_third.last
    {
	    width: 100%;
	    float: none;
    }
    
    .ppb_blog_grid_with_posts .two_third.div_wrapper, .ppb_blog_grid_with_posts .one_third.last
    {
	    height: 505px;
    }
    
    .ppb_blog_grid_with_posts.ppb_blog_video .two_third.div_wrapper, .ppb_blog_grid_with_posts.ppb_blog_video .one_third.last
    {
	    height: 260px;
    }
    
    .ppb_blog_grid_with_posts.ppb_blog_video .two_third.div_wrapper .post_filter_loading
	{
		margin-top: 30px;
	}
	
	.ppb_blog_fullwidth_slider .fullscreen_flexslider ul.slides li .slider_image .slider_post_title
	{
		width: 100%;
	}
	
	.ppb_blog_fullwidth_slider .fullscreen_flexslider ul.slides li .slider_image .slider_post_title h2
	{
		font-size: 32px;
		line-height: 1.2;
	}
	
	.ppb_header_video .background_title_wrapper
	{
		bottom: 20px;
	}
}

/*  
#Mobile (Portrait)
================================================== 
*/

@media only screen and (max-width: 767px) {
	body { -webkit-text-size-adjust: none; }
	body { font-size: 14px; }
	#wrapper { padding-top: 1px; }
	.logo_wrapper img { width: auto; max-height: 50px; }
	.footer_before_widget .footer_logo.logo_wrapper img { max-height: none; margin-top: 0; margin: auto; }
	
	.top_bar { width: 100%; border: 0; }
	#top_contact_hours, #top_contact_number { display: none; }

	.standard_wrapper, .slider_wrapper.standard_wrapper { width: 100%; padding: 0 15px 0 15px; box-sizing: border-box; }

	h1 { font-size: 24px!important; }
	h2 { font-size: 22px; }
	h3 { font-size: 20px; }
	h4 { font-size: 18px; }
	h5 { font-size: 16px; }
	h6 { font-size: 15px; }
	h7 { font-size: 14px; }
	.post_header.grid h6, .post_quote_title.grid { font-size: 16px; }

	#page_caption h1 { font-size: 22px !important; }

	#page_caption .page_title_wrapper { width: 100%; margin: auto; }
	#page_caption { margin: 0; padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px; box-sizing: border-box; }
	
	#page_content_wrapper .inner .inner_wrapper { padding: 0; }
	#page_content_wrapper .inner .sidebar_content.full_width { width: 100%; margin-top: 15px; margin-bottom: 0; }
	#page_content_wrapper .inner .sidebar_content img { max-width: 100%; height: auto; }
	#page_content_wrapper { width: 100%; margin-top: 0; padding: 0 30px 0 30px; box-sizing: border-box; }
	#page_content_wrapper.wide, .page_content_wrapper.wide { padding: 0; }
	#page_content_wrapper .inner { width: 100%; padding: 0; margin-top: 30px; }
	#page_content_wrapper .inner #page_main_content { margin-top: 0; padding-bottom: 0; margin-bottom: 30px; }
	#page_content_wrapper .inner, { width: 100%; margin: auto; }
	#page_content_wrapper .inner .sidebar_content { width: 100%; margin-top: 0; padding-bottom: 0; float: none; border: 0 !important; }
	#page_content_wrapper .inner .sidebar_content.full_width { width: 100%; margin-top: 0; }
	#page_content_wrapper .inner #page_caption.sidebar_content.full_width { padding-bottom: 20px; }
	#page_content_wrapper .inner .sidebar_content.full_width img { max-width: 100%; height: auto !important; }
	#page_content_wrapper .inner .sidebar_wrapper { width: 100%; margin-left: 0; margin-bottom: 0; margin-top: 20px; }
	#page_content_wrapper .inner .sidebar_wrapper .sidebar .content { margin: 0; }
	#page_content_wrapper .inner .sidebar_content.full_width#blog_grid_wrapper, #page_content_wrapper .inner .sidebar_content.full_width#galleries_grid_wrapper { width: 100%; }
	.portfolio_header h6 { width: 31%; font-size: 12px; }
	#page_content_wrapper .inner .sidebar_content img { max-width: 100%; height: auto; }
	.comment { width: 270px; }
	.comment_arrow { display: none; }
	.fullwidth_comment_wrapper .comment .right { width: 66%; margin-left: 15px; }
	.fullwidth_comment_wrapper ul.children div.comment .right { width: 64%; padding: 0; }
	
	ul.children div.comment ul.children div.comment .right { width: 50%; }
	
	#content_wrapper ul.children ul.children { width: 100%; }
	ul.children .comment { margin-left: 0; }
	#content_wrapper ul.children { border: 0; }
	#content_wrapper ul.children ul.children { margin-left: -16px; }
	
	.comment_wrapper #respond { margin-left: 20px; }
	.comment_wrapper ul.children #respond { margin-left: -55px; }
	#menu_wrapper { width: 100%; display: block; }
	#menu_border_wrapper { height: auto; display: none; }
	input[type="submit"], input[type="button"], a.button, .button { font-size: 12px; }
	
	.one_half.gallery2, .one_half.portfolio2, .one_half.gallery2 .mask, .one_half.gallery2.filterable { width: 100%; height: auto; }
	.one_half.gallery2 .mask { width: 100%; height: 100% !important; }
	.one_half.portfolio2 { margin-bottom: 5%; margin-right: 5%; }
	.one_half.gallery2 .mask .button.circle { margin-top: 30%; }
	.one_half.gallery2 img.blur_effect, .one_half.portfolio2 img.blur_effect { width: 100%; height: auto; }
	.one_half.gallery2 h4 { font-size: 14px !important; }
	.one_half.gallery2:hover .mask .mask_circle { width: 32px; height: 32px; margin-top: 22%; }
	.one_half.gallery2 .mask .mask_circle i { font-size: 30px; line-height: 34px; }
	
	.one_third.gallery3, .one_third.portfolio3, .one_third.gallery3 .mask, .one_third.gallery3.filterable { width: 100%; height: auto; }
	.one_third.gallery3 .button.circle img { width: 30px !important; height: 30px !important; }
	.one_third.gallery3 .mask { width: 100%; height: 100% !important; }
	.one_third.gallery3 img.blur_effect, .one_third.portfolio3 img.blur_effect { width: 100%; height: auto; }
	.one_third.gallery3 h5 { font-size: 14px !important; }
	.one_third.gallery3:hover .mask .mask_circle { width: 32px; height: 32px; margin-top: 22%; }
	.one_third.gallery3 .mask .mask_circle i { font-size: 30px; line-height: 34px; }
	
	.one_fourth, .one_fourth.last { width: 100%; margin-right: 0; margin-bottom: 2%; clear: both; }
	.one_fourth.gallery4, .one_fourth.portfolio4, .one_fourth.gallery4 .mask, .one_fourth.gallery4.filterable { width: 100%; height: auto; }
	.one_fourth.gallery4 img.blur_effect, .one_fourth.portfolio4 img.blur_effect { width: 100%; height: auto; }
	.one_fourth.gallery4 .mask { width: 100%; height: 100% !important; }
	.one_fourth.gallery4.portfolio_type h6 { margin-top: 34%; }
	.one_fourth.gallery4:hover .mask .mask_circle { width: 32px; height: 32px; margin-top: 22%; }
	.one_fourth.gallery4 .mask .mask_circle i { font-size: 30px; line-height: 34px; }
	
	#page_content_wrapper .inner .sidebar_content.full_width.portfolio3_content_wrapper, #page_content_wrapper .inner .sidebar_content.full_width.portfolio4_content_wrapper { width: 300px; }
	.one_third.portfolio3_wrapper, .one_fourth.portfolio4_wrapper { width: 100%; clear: both; }
	
	.post_header { width: 100%; }
	.post_header h5, .post_header:not(.single) h5 { font-size: 22px; }
	blockquote { width: 100%; margin: 0; font-size: 18px; }

	#respond { width: 100%; }
	.post_wrapper { width: 100%;; margin-top: 0; }

	#footer { padding-top: 40px; padding-bottom: 0; }
	#page_content_wrapper .inner .sidebar_wrapper .sidebar { width: 100%; }

	#photo_wall_wrapper { width: 300px; }
	#footer { width: 100%; }
	#footer ul.sidebar_widget { margin-left: 10px; }
	#footer ul.sidebar_widget { width: 100%; float: none; margin: auto; padding: 0 30px 0 30px; box-sizing: border-box; }
	#footer .sidebar_widget.four > li, #footer .sidebar_widget.three > li, #footer .sidebar_widget.two > li, #footer .sidebar_widget.one > li, #footer .sidebar_widget.four > li:nth-child(4), #footer .sidebar_widget.three > li:nth-child(3), #footer .sidebar_widget.two > li:nth-child(2) { width: 100%; }
	.footer_bar { margin-bottom: 0; }
	#copyright { width: 100%; }
	.social_wrapper { float: none; margin: auto; text-align: center; width: auto; }

	.footer_bar_wrapper { width: 100%; }
	#copyright { float: left; width: 100%; padding: 0 30px 0 30px; box-sizing: border-box; }
	.one_third, .one_third.last, .one_third.pricing, .one_fourth.pricing { width: 100%; margin-bottom: 3%; margin-right: 0; }
	.post_related .one_third { margin-bottom: 20px; }
	.one_third.pricing { margin-bottom: 25px; }
	.two_third, .two_third.last { width: 100%; margin-bottom: 3%; }
	
	#footer .sidebar_widget.four > li { margin-bottom: 20px; }
	.post_content_wrapper { width: 100%; }
	ul.children div.comment .right { width: 86%; }

	.one.fullwidth .page_content_wrapper { padding: 0; }
	.page_content_wrapper.nopadding { padding: 0 !important; }
	#page_content_wrapper .inner .sidebar_content.full_width.portfolio4_content_wrapper, .page_content_wrapper.portfolio4_content_wrapper { width: 100% !important; }
	
	.one_fourth, .one_fourth.last { width: 100%; margin-right: 0; }

	.post_img img { max-width: 100% !important; height: auto; }

	#page_content_wrapper .inner .sidebar_wrapper.left_sidebar { width: 100%; margin-right: 0; margin-bottom: 25px; }
	.post_header.full, .post_excerpt_full { width: 96%; }
	#page_content_wrapper .inner .sidebar_content.full_width#blog_grid_wrapper { width: 100%; }
	
	.one_half, .one_half.last { width: 100%; float: none; clear: both; margin-bottom: 15px; }
	
	#social_share_wrapper, .social_share_wrapper { margin-top: 30px; }
	
	#page_content_wrapper .posts.blog li { width: 100%; }
	body.single .post.type-post { float: none; }
	.post_header h6 { font-size: 16px; }
	#about_the_author .description { width: 180px; }
	
	.social_wrapper.shortcode ul li { margin: 5px; }
	.one_fifth { width: 100%; float: none; }

	.footer_bar_wrapper .social_wrapper ul { margin-top: 0; }
	
	.above_top_bar
	{
		padding: 0 20px 0 20px;
		box-sizing: border-box;
		height: auto;
	}
	
	.today_time { display: none; }
	.above_top_bar .page_content_wrapper { margin: 0; margin: auto; padding: 0; }
	
	.above_top_bar .social_wrapper { width: 100%; text-align: center; float: none; }
	.above_top_bar .social_wrapper ul { text-align: center; }
	#top_menu { float: none; text-align: center; }
	#top_menu li { margin: 0 5px 0 5px; float: none; display: inline-block; }

	.footer_bar_wrapper .social_wrapper { width: 100%; text-align: center; float: none; margin: 0 0 10px 0; }
	.footer_bar_wrapper .social_wrapper ul li { float: none; display: inline-block; margin: 0 5px 0 5px; }

	.comment .right { width: 100%; margin-left: 0; padding: 0 0 15px 0; }
	
	.two_cols.gallery .element, .three_cols.gallery .element, .four_cols.gallery .element, #photo_wall_wrapper .wall_entry, .photo_wall_wrapper .wall_entry, #photo_wall_wrapper .wall_entry.three_cols, #photo_wall_wrapper .wall_entry.four_cols, .photo_wall_wrapper .wall_entry.four_cols { width: 100%; margin-right: 0%; }
	.page_content_wrapper .inner, .standard_wrapper { width: 100%; }
	
	.one_half_bg, .one_third_bg, .two_third_bg, .one_fourth_bg { width: 100%; padding: 30px !important; }
	.one_half_bg.nopadding, .two_third_bg > div, .one_half_bg > div, .one_third_bg > div, .one_fourth_bg > div { padding: 0 !important; }
	.one .page_content_wrapper.withbg { max-height: 300px; }

	#page_content_wrapper .inner .sidebar_content, .page_content_wrapper .inner .sidebar_content, #page_content_wrapper .inner .sidebar_content.portfolio { width: 100%; margin-right: 0; border: 0; margin-bottom: 30px; float: left; padding-right: 0; }
	#page_content_wrapper .inner .sidebar_content.left_sidebar, .page_content_wrapper .inner .sidebar_content.left_sidebar { width: 100%; float: none; padding: 0; margin-left: 0;  }
	#page_content_wrapper .inner .sidebar_wrapper, .page_content_wrapper .inner .sidebar_wrapper { width: 100%; float: none; margin: 0; clear: both; }
	
	.page_content_wrapper .inner > div { width: 100% !important; }
	#page_content_wrapper .inner #blog_grid_wrapper.sidebar_content, #blog_grid_wrapper.sidebar_content:not(.full_width) .post.type-post { width: 100%; margin-right: 0; }
	
	#page_content_wrapper .inner .sidebar_content.full_width img, .page_content_wrapper img{ max-width: 100%; height: auto; }
	#footer_menu { float: left; width: 100%; padding: 0 30px 0 30px; box-sizing: border-box; }
	#footer_menu li:first-child { margin-left: 0; }
	
	.animate, .animated, .gallery_type, .portfolio_type, .fadeIn, .bigEntrance, .post_img.fadeIn, .post_img.grid.fadeIn { -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important; opacity: 1; visibility: visible; }
  
  #page_content_wrapper .inner #blog_grid_wrapper.sidebar_content.left_sidebar { padding-left: 0; }
  
   	#page_caption.hasbg .post_detail, #page_caption.hasbg .post_detail a, #page_caption.hasbg .post_detail a:hover, #page_caption.hasbg .post_detail a:active, .page_tagline { font-size: 11px; }
  	#searchform input[type=text] { width: 71%; }
  	#page_content_wrapper .inner .sidebar_content #commentform p.comment-form-author, #page_content_wrapper .inner .sidebar_content #commentform p.comment-form-email, #page_content_wrapper .inner .sidebar_content #commentform p.comment-form-url { width: 100%; box-sizing: border-box; }
  	
  #logo_wrapper
  {
	  border: 0;
	  padding: 30px 0 20px 0;
  }
  
  #logo_wrapper .social_wrapper 
  { 
  	display: none; 
  }
	
  .footer_photostream li
  {
      width: 25%;
  }
  
  .post_excerpt
  {
      width: 100%;
  }
  
  #horizontal_gallery, .horizontal_gallery
  {
      opacity: 1 !important;
  }
  
  #horizontal_gallery_wrapper img.horizontal_gallery_img, .horizontal_gallery_wrapper img.horizontal_gallery_img
  {
      max-height: 230px !important;
  }
  
  .horizontal_gallery_wrapper tbody tr td .gallery_image_wrapper
  {
	  line-height: 0;
  }
  
  .horizontal_gallery_wrapper tbody tr td .gallery_image_wrapper .post_info_author
  {
	  line-height: initial;
  }
  
  .horizontal_gallery_wrapper tbody tr td .gallery_image_wrapper:after
  {
  	  width: 100%;
  	  height: 100%;
  	  background: rgba(0,0,0,0.35);
  }
  
  .top_bar.scroll #logo_wrapper
  {
      display: block !important;
  }
  
  .portfolio_desc
  {
      margin-bottom: 15px;
  }
  
  #page_caption.hasbg
  {
      height: 300px;
  }
  
  #page_caption.hasbg #bg_regular, #page_caption.hasbg #bg_blurred
  {
      height: 300px;
  }
  
  #page_caption.hasbg .page_title_wrapper
  {
	  bottom: 20px;
  }
  
  #page_caption.hasbg .page_title_wrapper .post_info_author
  {
	  display: none;
  }
  
  .textwidget img
  {
      text-align: center;
  }
  
  .mobile_menu_wrapper
  {
      width: 270px;
      padding: 30px;
  }
  
  #close_mobile_menu
  {
	  top: 25px;
  }
  
  .mobile_main_nav li.menu-item-has-children > a:after
  {
      left: 230px;
  }
  
  .mobile_menu_wrapper #searchform input[type=text]
  {
      width: 70%;
  }
  
  .mobile_menu_wrapper .sidebar .content .sidebar_widget li ul.flickr li
  {
      width: 50%;
  }
  
  .fullscreen_share_content #social_share_wrapper ul li a i
  {
      font-size: 2em;
  }
  
  .fullscreen_share_content #social_share_wrapper ul li
  {
      margin: 0 10px 0 10px;
  }
  
  body.js_nav #overlay_background 
  {
    visibility: visible;
    opacity: 1;
  }
  
  #post_featured_slider li .slider_image
  {
	  height: 200px;
  }
  
  #post_featured_slider li .slide_post h2
  {
	  font-size: 26px;
  }
  
  #post_featured_slider li .slide_post .slide_post_excerpt
  {
	  font-size: 14px;
	  width: 90%;
  }
  
  #post_featured_slider li .slide_post
  {
	  padding: 20px;
  }
  
  .pagination
  {
  	  margin-top: 20px;
	  margin-bottom: 20px;
  }
  
  #footer_menu li
  {
	  margin-left: 10px;
  }
  
  #post_featured_slider li .slider_image.three_cols
  {
	  width: 100%;
	  height: 200px !important;
  }
  
  #post_featured_slider.three_cols
  {
	  margin-bottom: 0;
  }
  
  .top_bar.scroll .post_share_wrapper, .top_bar.scroll #search_icon
  {
	  display: none;
  }
  
  #page_content_wrapper .inner .sidebar_content.two_cols .post.type-post, #page_content_wrapper .inner .sidebar_content.two_cols .post.type-post[data-column=last], #page_content_wrapper .inner .sidebar_content.three_cols .post.type-post, #page_content_wrapper .inner .sidebar_content.three_cols .post.type-post[data-column=last]
  {
	  width: 100%;
	  float: none;
	  clear: both;
	  margin-right: 0;
  }
  
  .post_header h6, .two_cols .post_header h5, .post_header.search h5, .post_header h6, .three_cols .post_header h5
  {
	  font-size: 26px;
  }
  
  .post_share_text
  {
	  float: left;
	  clear: both;
  }
  
  #about_the_author
  {
	  text-align: center;
  }
  
  #about_the_author .gravatar
  {
	  float: none;
	  margin: auto;
	  margin-bottom: 20px;
  }
  
  .post_related .post_header
  {
	  margin-bottom: 0;
  }
  
  .fullwidth_comment_wrapper.sidebar .comment .right, .fullwidth_comment_wrapper .comment .right
  {
	  margin-left: 0;
	  margin-top: 10px;
	  width: 100%;
  }
  
  .comment .gravatar
  {
	  margin: auto;
	  float: none;
  }
  
  #option_btn
  {
	  top: 130px;
  }
  
  .footer_photostream_wrapper
  {
	  margin-top: 0;
  }
  
  .flex-direction-nav a
  {
	  bottom: 72%;
  }
  
  .slider_wrapper.fixed_width:hover .flex-direction-nav .flex-prev
  {
	  left: 0;
  }
  
  .slider_wrapper.fixed_width:hover .flex-direction-nav .flex-next
  {
	  right: 0;
  }
  
  #menu_wrapper #nav_wrapper
  {
	  padding: 10px 15px 10px 15px;
	  box-sizing: border-box;
  }
  
  #menu_border_wrapper, #logo_right_button
  {
	  width: 100%;
  }
  
  #mobile_nav_icon
  {
	  display: block !important;
	  float: left;
	  margin-left: 0;
	  margin-top: 5px;
  }
  
  #search_icon, #page_share
  {
	  display: block !important;
	  float: right;
	  margin-top: 5px;
  }
  
  #logo_right_button #search_icon i
  {
	  font-size: 18px;
  }
  
  .slider_wrapper.fixed_width
  {
	  width: 100%;
	  margin: 0 !important;
  }
  
  #post_featured_slider, #page_caption.hasbg, #horizontal_gallery.tg_post
  {
	  margin-top: 0;
  }
  
  #post_info_bar #post_info_share, #post_info_bar #post_info_comment
  {
	  display: none;
  }
  
  .footer_bar_wrapper .social_wrapper ul
  {
	  text-align: center;
  }
  
  .review-total-wrapper span.review-total-box
  {
	  padding-top: 0;
  }
  
  .review-total-star
  {
	  display: none;
  }
  
  .two_cols.mixed .hentry:first-child .post_header h5
  {
	  font-size: 22px;
  }
  
  .post_header.search .post_img.one_third
  {
	  width: 30.99%
  }
  
  .post_header.search .post_header_title.two_third.last
  {
	  width: 65.33%;
  }
  
  .ppb_blog_half_content_slider .slider_wrapper
  {
      width: 100%;
  }
  
  .ppb_blog_half_content_slider .slides li .slide_post .post_header h2
  {
      font-size: 18px;
  }
  
  .ppb_blog_half_content_slider .slides li .slider_image, .ppb_blog_half_content_slider .slides li .slide_post
  {
      min-height: 200px;
  }
  
  .ppb_blog_half_content_slider .slides li .slide_post .post_info_excerpt
  {
      display: none;
  }
  
  .ppb_blog_half_content_slider .flex-direction-nav .flex-prev
  {
      left: 30px;
  }
  
  .ppb_blog_half_content_slider .flex-direction-nav .flex-next
  {
      left: 73px;
  }
  
  .ppb_blog_half_content_slider
  {
      padding: 0 15px 0 15px;
      box-sizing: border-box;
  }
  
  .ppb_blog_half_content_slider .slides li .slider_image, .ppb_blog_half_content_slider .slides li .slide_post
  {
      width: 100%;
      float: none;
      clear: both;
  }
  
  .slide_post .post_button_wrapper
  {
	  display: none;
  }
  
  .ppb_blog_half_content_slider .flex-direction-nav
  {
	  display: none !important;
  }
  
  .newsticker_label
  {
	  margin-bottom: 10px;
  }
  
  .newsticker_nav
  {
	  display: none;
  }
  
  .ppb_blog5_grid_classic .one_half.div_wrapper, .ppb_blog5_grid_classic .one_half.div_wrapper.last
  {
	  width: 100%;
	  margin-right: 0;
	  float: none;
	  clear: both;
  }
  
  .ppb_blog5_grid_classic .one_half .post_header h2, .ppb_blog5_grid_classic .one_half.last .post_header h2
  {
	  font-size: 22px;
  }
  
  .ppb_subtitle_left
  {
	  width: 100%;
  }
  
  ul.post_filter
  {
	  width: 100%;
	  text-align: left;
	  margin-bottom: 10px;
  }
  
  ul.post_filter li
  {
	  margin-right: 15px;
	  margin-bottom: 10px;
	  margin-left: 0;
  }
  
  .ppb_blog_fullwidth_slider ul.slides li .slider_image .slider_post_title h2
  {
	  font-size: 22px;
  }
  
  .ppb_blog_fullwidth_slider ul.slides li .slider_image
  {
	  height: 400px;
  }
  
  .teaser_wrapper
  {
	  max-height: 400px;
  }
  
  .teaser_wrapper .teaser_content_wrapper h5, .teaser_wrapper .teaser_content_wrapper h5 a
  {
	  font-size: 20px;
	  line-height: 1.3;
  }
  
  #page_content_wrapper, .page_content_wrapper
  {
	  padding: 0 15px 20px 15px;
	  box-sizing: border-box;
  }
  
  .post_header.search .post_img.one_third, .post_header.search .post_header_title.two_third.last
  {
	  width: 100%;
  }
  
  .post_header h6, .two_cols .post_header h5, .post_header.search h5, .post_header h6, .three_cols .post_header h5
  {
	  font-size: 20px;
  }
  
  .post.type-post
  {
	  margin-bottom: 20px;
  }
  
  #page_content_wrapper .inner .sidebar_wrapper .sidebar, .page_content_wrapper .inner .sidebar_wrapper .sidebar
  {
	  padding-bottom: 0;
  }
  
  .ppb_mailchimp_subscription .subscribe_form input[type=email], .ppb_mailchimp_subscription .subscribe_form input
  {
	  width: 100%;
  }
  
  .ppb_mailchimp_subscription .subscribe_form input
  {
	  margin-bottom: 5px;
  }
  
  .ppb_ads img, .ppb_ads iframe
  {
	  max-width: 100%;
	  height: auto;
  }
  
  .ppb_mailchimp_subscription .subscribe_form p
  {
	  display: block;
  }
  
  .subscribe_tagline
  {
	  font-size: 14px;
  }
  
  #overlay_background_search .search_wrapper .search_content #searchform input[type=text]#s
  {
	  font-size: 24px;
  }
  
  #overlay_background_search .search_wrapper .search_content #searchform .search_tagline
  {
	  font-size: 12px;
  }
  
  #overlay_background_search .search_wrapper .search_content #searchform, #autocomplete
  {
	  width: 90%;
  }
  
  #autocomplete a h6
  {
	  font-size: 14px;
  }
  
  .social_share_counter
  {
	  float: none;
  }
  
  #social_share_button_wrapper
  {
	  float: none;
	  text-align: center;
  }
  
  #social_share_button_wrapper ul
  {
	  margin-bottom: 0;
  }
  
  #social_share_button_wrapper ul li
  {
	  margin-bottom: 5px;
  }
  
  #post_info_bar
  {
	  height: auto;
  }
  
  #post_info_bar .post_info
  {
	  width: calc(100% - 72px);
  }
  
  #post_info_bar .post_info .post_info_title
  {
	  margin-top: 0;
	  line-height: 1.5;
	  margin-bottom: 5px;
  }
  
  #about_the_author .author_detail
  {
	  width: 100%;
  }
  
  .read_next_wrapper .post_content .next_post_title h3
  {
	  font-size: 16px;
  }
  
  read_next_label
  {
	  font-size: 14px;
  }
  
  .social_share_counter_number
  {
	  font-size: 32px;
	  line-height: 26px;
  }
  
  .social_share_counter_label
  {
	  font-size: 13px;
  }
  
  #post_info_bar
  {
	  top: -100px;
  }
  
  #page_content_wrapper .inner .sidebar_content.full_width.blog_f, body.single-post #page_content_wrapper .inner .sidebar_content.full_width
  {
	  width: 100% !important;
  }
  
  .post_gallery_wrapper .one_fifth
  {
      width: 18.4%;
      float: left;
      margin-right: 2%;
      margin-bottom: 2%;
      clear: none;
  }
  
  .post_gallery_wrapper .one_fifth.last
  {
      margin-right: 0;
  }
  
  .post_gallery_wrapper .one_fifth .more_gallery_count
  {
      line-height: 68px;
      font-size: 22px;
  }
  
  .post_share_center .social_share_counter
  {
	  margin-bottom: 15px;
  }
  
  #video_caption
  {
	  height: 300px;
  }
  
  .review-total-wrapper
  {
	  text-align: center;
  }
  
  .review-total-wrapper span.review-total-box, .review-total-wrapper
  {
	  padding: 0;
	  margin: 0;
  }
  
  .review-desc
  {
	  padding-bottom: 0;
	  margin-bottom: 0;
  }
  
  .review-star
  {
	  margin-bottom: 40px;
  }
  
  img.alignleft, img.alignright, img.aligncenter
  {
	  width: 100% !important;
	  max-width: none !important;
	  float: none;
	  clear: both;
	  margin: 10px 0 10px 0;
  }
  
  .flex-direction-nav
  {
  	  display: none !important;
  }
  
  	.ppb_blog3_grid .one_half.div_wrapper
	{
		width: 100%;
		height: 300px;
		margin-bottom: 5px;
	}
	
	.ppb_blog3_grid .one_half.div_wrapper .post_header h2
	{
		font-size: 22px;
	}
	
	.ppb_blog3_grid .one_half.div_wrapper.last
	{
		width: 100%;
		height: 150px;
		margin-bottom: 0;
	}
	
	.ppb_blog3_grid .one_half.div_wrapper.last .div_small_wrapper
	{
		width: 100%;
		height: 150px;
		display: inline-block;
		margin-bottom: 5px;
	}
	
	.ppb_blog3_grid .one_half.div_wrapper.last .div_small_wrapper h2
	{
		font-size: 16px;
	}
	
	.ppb_blog3_grid .one_half.div_wrapper:not(.last):after, .ppb_blog3_grid .one_half.div_wrapper.last .div_small_wrapper:after
	{
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.35);
	}
	
	#page_content_wrapper, .page_content_wrapper
	{
		width: 100%;
	}
  
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product
	{
		margin-right: 8%;
		width: 46%;
	}
	
	.woocommerce ul.products li.product:nth-child(2n), .woocommerce-page ul.products li.product:nth-child(2n), .woocommerce-page[class*=columns-] ul.products li.product:nth-child(2n), .woocommerce[class*=columns-] ul.products li.product:nth-child(2n)
	{
		margin-right: 0;
	}
	
	.header_cart_wrapper
	{
		display: block;
		float: right;
		margin-top: 5px;
	}
	
	.woocommerce .full_width  ul.products li.product, .woocommerce-page .full_width  ul.products li.product
	{
		width: 48%;
		margin-right: 4%;
	}
	
	.woocommerce .full_width  ul.products li.product, .woocommerce-page .full_width  ul.products li.product
	{
		margin-right: 0;
	}
	
	.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3
	{
		font-size: 16px !important;
	}
	
	.ppb_blog_mixed_sidebar .sidebar_content .one_half .post_header h5
	{
		font-size: 20px;
		line-height: 1.3;
	}
	
	.ppb_blog_video .one.div_wrapper
	{
		height: 320px;
	}
	
	.ppb_blog_video .one.div_wrapper .post_header h2, .ppb_blog_carousel ul.slides li .post_header h5, .ppb_blog_grid_with_posts .two_third.div_wrapper .post_header h2
	{
		font-size: 20px;
		line-height: 1.3;
	}
	
	.ppb_blog_random .one_fifth_bg
	{
		width: 100%;
		min-height: 200px;
	}
	
	.ppb_blog_carousel .ppb_subtitle_left
	{
		width: 50%;
	}
	
	.ppb_blog_grid_with_posts .two_third.div_wrapper
	{
		height: 350px;
	}
	
	.horizontal_gallery_wrapper tbody tr td .gallery_image_wrapper .post_header h2
	{
		font-size: 22px;
	}
	
	.ppb_header .page_content_wrapper
	{
		padding-bottom: 30px;
	}
	
	.social_share_button_wrapper ul li
	{
		margin-bottom: 5px;
	}
	
	.ppb_blog_grid_with_posts.ppb_blog_video .two_third.div_wrapper
	{
		height: 220px;
	}
	
	.ppb_blog_grid_with_posts.ppb_blog_video .one_third.last
    {
	    height: 300px;
    }
    
    .ppb_blog_grid_with_posts.ppb_blog_video .two_third.div_wrapper .post_filter_loading
	{
		margin-top: 30px;
	}
	
	.ppb_blog_fullwidth_slider .fullscreen_flexslider ul.slides li .slider_image .slider_post_title
	{
		width: 100%;
	}
	
	.ppb_blog_fullwidth_slider .fullscreen_flexslider ul.slides li .slider_image .slider_post_title h2
	{
		font-size: 24px;
		line-height: 1.2;
	}
	
	.ppb_header_video .background_title_wrapper
	{
		bottom: 15px;
	}
	
	.ppb_blog_fullwidth_slider ul.slides li .slider_image .slider_post_title
	{
		left: 10px;
		bottom: 15px;
	}
	
	.ppb_blog_fullwidth_slider ul.slides li .slider_image .slider_post_title .slider_post_excerpt
	{
		display: none;
	}
}

/* 
#Mobile (Landscape)
================================================== 
*/

@media only screen and (min-width: 480px) and (max-width: 767px) {

}